.root {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.cardTitle {
  margin: 0;
  font-size: 1rem;
}


